/*----------------------------
    Wedding timeline
----------------------------*/
.wedding_timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  background-color: #f0e7e7;
  -webkit-box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2509803922);
}
.wedding_timeline h3 {
  margin-bottom: 20px;
  font-family: Ephesis, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.wedding_timeline img {
  width: 80%;
}

/*-------------------------------------------
Pink under masthead (practical and wishlist)
-------------------------------------------*/
.wish_list_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbcaca), to(#f0e7e7));
  background-image: linear-gradient(#dbcaca, #f0e7e7);
  color: #4b3b37;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3137254902);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3137254902);
  padding: 20px 0;
}
.wish_list_header div {
  text-align: center;
  margin: 0 20px 0 20px;
  width: 80%;
  margin: 30px 0;
}
.wish_list_header h3 {
  font-family: Ephesis, Helvetica, sans-serif;
  font-size: 40px;
}

/*------------------------------
    ALL centeret basic texts
------------------------------*/
.center_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 40px auto;
}
.center_content_container h3 {
  margin: 0 0 20px 0;
  font-family: Ephesis, Helvetica, sans-serif;
  color: #4b3b37;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.center_content_container p {
  text-align: center;
}
.center_content_container b {
  font-weight: 600;
}

.img_text_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.img_text_img .img_container_left, .img_text_img .img_container_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.img_text_img .img_container_left img, .img_text_img .img_container_right img {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.img_text_img .img_container_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fullsize_img {
  width: 100%;
  height: 50vh;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2666666667);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2666666667);
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.dress_code_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dress_code_container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dress_code_container div {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbcaca;
  padding: 50px 0;
}
.dress_code_container div h2, .dress_code_container div p {
  width: 80%;
}
.dress_code_container div h2 {
  font-family: Ephesis, Helvetica, sans-serif;
  font-size: 40px;
}

@media screen and (min-width: 700px) {
  /*-------------------------------------------
  Pink under masthead (practical and wishlist)
  -------------------------------------------*/
  .wish_list_header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 0;
  }
  .wish_list_header div {
    margin: 0 20px 0 20px;
    width: 30%;
    max-width: 310px;
  }
}
@media screen and (min-width: 950px) {
  .center_content_container {
    width: 60%;
  }
  .img_text_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .img_text_img .img_container_left, .img_text_img .img_container_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
  }
  .img_text_img .img_container_left img, .img_text_img .img_container_right img {
    width: 100%;
  }
  .img_text_img .img_container_right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .dress_code_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dress_code_container img {
    width: 50%;
  }
  .dress_code_container div {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .center_content_container {
    width: 55%;
  }
}
@media screen and (min-width: 1450px) {
  .center_content_container {
    width: 40%;
  }
}
.frontpage_masthead {
  width: 100%;
  height: 95vh;
  background-image: url(../img/Maja_Victor12.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  position: relative;
  -webkit-box-shadow: 5px 5px 40px #242424;
          box-shadow: 5px 5px 40px #242424;
}
.frontpage_masthead .frontpage_masthead_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
  color: #fff;
  position: relative;
  font-size: 22px;
}
.frontpage_masthead .frontpage_masthead_header h1 {
  font-family: Ephesis, Helvetica, sans-serif;
  font-weight: 400;
}
.frontpage_masthead .frontpage_masthead_header p {
  font-family: Ephesis, Helvetica, sans-serif;
}

.practical_masthead_picture {
  background-image: url(../img/Maja_Victor6.JPG);
  background-position-x: center;
}

.wishlist_masthead_picture {
  background-image: url(../img/Maja_Victor7.JPG);
  background-position-x: 85%;
}

.subpage_masthead {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 40px #242424;
          box-shadow: 5px 5px 40px #242424;
}

/*---------------------
        Silver h1
---------------------*/
.shine {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: bold;
}

.shine {
  background: #161616 -webkit-gradient(linear, left top, right top, from(#161616), to(#161616), color-stop(0.5, rgb(255, 255, 255))) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(255, 255, 255, 0.15);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.582);
}

@-webkit-keyframes shine {
  0% {
    background-position: -125px;
  }
  50% {
    background-position: 125%;
  }
  100% {
    background-position: -125px;
  }
}
/*---------------------
        meedia queries
---------------------*/
@media screen and (min-width: 700px) {
  .frontpage_masthead {
    background-position-x: 35%;
  }
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 17%;
  }
  .frontpage_masthead .frontpage_masthead_header h1 {
    font-size: 55px;
  }
}
@media screen and (min-width: 950px) {
  .frontpage_masthead {
    background-position-x: 20%;
  }
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 15%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30%;
  }
  .frontpage_masthead .frontpage_masthead_header h1 {
    font-size: 65px;
  }
  .frontpage_masthead .frontpage_masthead_header p {
    font-size: 25px;
  }
  .practical_masthead_picture {
    background-position-y: 20%;
  }
  .wish_list_container {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .frontpage_masthead {
    background-position-x: 0%;
    background-position-y: center;
  }
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 8%;
  }
  .practical_masthead_picture {
    background-position-y: 60%;
  }
  .wishlist_masthead_picture {
    background-position-x: center;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1450px) {
  .frontpage_masthead {
    background-position-x: 0%;
    background-position-y: center;
  }
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 6%;
    padding-left: 35%;
  }
  .practical_masthead_picture {
    background-position-y: 50%;
  }
}
/*----------------------------
        Picture gallery
-----------------------------*/
.slideshow_container {
  width: 100%;
  padding: 10px 0;
}

.slideshow {
  max-width: 1100px;
  margin: 60px auto;
  -webkit-box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5647058824);
          box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5647058824);
  border: white solid 5px;
  background-color: white;
}

.panel-main img, .thumbs img {
  width: 100%;
  height: auto;
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -o-object-position: bottom;
     object-position: bottom;
}

.panel-main {
  bottom: 0;
}

.thumbs img:hover {
  cursor: pointer;
  opacity: 0.3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.thumbs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in 1 forwards;
          animation: fadeIn 0.5s ease-in 1 forwards;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar a {
  color: rgba(255, 255, 255, 0.7);
  margin: 20px 5%;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar a:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .active_link {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

@media screen and (min-width: 700px) {
  .navbar a {
    font-size: 20px;
  }
}
/* ---------------------------
        Wish list
----------------------------*/
.wish_list_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.wish_list_container .wish_list_subject_header {
  text-align: center;
  font-size: 45px;
  font-family: Ephesis, Helvetica, sans-serif;
  margin: 0 0 30px 0;
}
.wish_list_container .wish_list_subject_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
.wish_list_container .wish_list_subject_container .card {
  width: 30%;
  padding: 20px;
  min-width: 100px;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 30px 5px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3137254902);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3137254902);
  border-radius: 10px;
}
.wish_list_container .wish_list_subject_container .card h4 {
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
}
.wish_list_container .wish_list_subject_container .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wish_list_container .wish_list_subject_container .card p {
  padding: 15px 0;
}
.wish_list_container .wish_list_subject_container .card button {
  width: 100%;
  height: 35px;
  border: none;
  background-color: #bfcab4;
  background-color: #AACDD3;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1882352941);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1882352941);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wish_list_container .wish_list_subject_container .card button:hover {
  background-color: #98a78b;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4392156863);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4392156863);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wish_list_container .wish_list_subject_container .card button a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

@media screen and (min-width: 950px) {
  .wish_list_container {
    width: 85%;
  }
  .wish_list_container .wish_list_subject_container .card {
    margin: 0 20px 50px 20px;
    min-width: 200px;
    max-width: 250px;
  }
}
/* JS manipulated styles */
.slide {
  display: none;
}

.slide.active {
  display: inline-block;
}

/* Appearance Styles */
.stavnsbo_slider {
  margin: 0 0 40px 0;
}
.stavnsbo_slider .slides .slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.stavnsbo_slider .slides .img_bottom_position img {
  -o-object-position: bottom;
     object-position: bottom;
}
.stavnsbo_slider .slides img {
  width: 100%;
  max-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5647058824);
          box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5647058824);
}
.stavnsbo_slider .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stavnsbo_slider .button_container .prev, .stavnsbo_slider .button_container .next {
  min-height: 25px;
  min-width: 70px;
  border: 0;
  font-size: 50px;
  padding: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}
.stavnsbo_slider .button_container .prev:hover, .stavnsbo_slider .button_container .prev:hover, .stavnsbo_slider .button_container .next:hover, .stavnsbo_slider .button_container .next:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #98a78b;
  cursor: pointer;
}
.stavnsbo_slider .button_container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  color: #707070;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Times New Roman", "Arial", sans-serif;
  font-weight: 200;
}

/*---------------------------
        Body color
---------------------------*/
.wish_list, .index_body {
  background-color: #f0e7e7;
}

/*---------------------------
            Footer
---------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d3b0aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3b0aa), to(#aa8b85));
  background-image: linear-gradient(#d3b0aa, #aa8b85);
  height: 150px;
  color: #4b3b37;
  font-size: 30px;
  font-family: Ephesis, Helvetica, sans-serif;
}