* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar a {
  color: #fff;
  margin: 20px 5%;
  text-decoration: none;
}
.frontpage_masthead {
  width: 100%;
  height: 95vh;
  background-image: url(../img/forrest_path.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  -webkit-box-shadow: 5px 5px 20px #222222;
          box-shadow: 5px 5px 20px #222222;
}
.frontpage_masthead .frontpage_masthead_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30%;
}
.frontpage_masthead .frontpage_masthead_header h1 {
  position: relative;
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  font-family: Ephesis, Helvetica, sans-serif;
}
.frontpage_masthead .frontpage_masthead_header p {
  position: relative;
  color: #fff;
  font-size: 25px;
  font-family: Ephesis, Helvetica, sans-serif;
}

.subpage_masthead {
  width: 100%;
  height: 40vh;
  background-image: url(../img/forrest_path.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  -webkit-box-shadow: 5px 5px 20px #222222;
          box-shadow: 5px 5px 20px #222222;
}
.subpage_masthead .subpage_masthead_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subpage_masthead .subpage_masthead_header p {
  position: relative;
  top: 30%;
  color: #fff;
  font-size: 55px;
  font-family: Ephesis, Helvetica, sans-serif;
}

.wish_list_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
.wish_list_container .wish_list_header {
  font-family: Ephesis, Helvetica, sans-serif;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wish_list_container .wish_list_subject {
  font-family: Ephesis, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wish_list_container .wish_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wish_list_container .wish_list_item p i {
  color: #8f8f8f;
  font-weight: 100;
}

.slideshow_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slideshow_container img {
  width: 80%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6a9770;
  height: 150px;
  color: #fff;
  font-size: 35px;
  font-family: Ephesis, Helvetica, sans-serif;
  margin-top: 50px;
}

@media screen and (min-width: 700px) {
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 20%;
  }
  .navbar a {
    font-size: 20px;
  }
}
@media screen and (min-width: 950px) {
  .frontpage_masthead .frontpage_masthead_header {
    padding-top: 15%;
  }
}