* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.frontpage_masthead {
  width: 100%;
  height: 95vh;
  background-image: url(../img/forrest_path.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  -webkit-box-shadow: 5px 5px 20px #222222;
          box-shadow: 5px 5px 20px #222222;
}
.frontpage_masthead .frontpage_masthead_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.frontpage_masthead .frontpage_masthead_header p {
  position: relative;
  top: 30%;
  color: #fff;
  font-size: 55px;
  font-family: Ephesis, Helvetica, sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar a {
  color: #fff;
  margin: 20px 5%;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  body {
    background-color: #999eee;
  }
}
@media screen and (min-width: 950px) {
  body {
    background-color: #f1bbff;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: #b8fff6;
  }
}
@media screen and (min-width: 1600px) {
  body {
    background-color: #ffd5d5;
  }
}