
/*----------------------------
    text - center - content
----------------------------*/

.center_color_content, .center_color_img_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    margin-bottom: 50px;
    background-color: #e2d6d37c;
    color: #4b3b37;
    box-shadow: 5px 5px 15px #00000033;
    z-index: 1;
    div {
        width: 23%;
        margin: 0 1%;
        min-width: 250px;
        text-align: center;
        margin-bottom: 20px;
        h3 {
        margin-bottom: 20px;
        font-family: Ephesis, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 400;
        }
    }  
    h3 {
        margin-bottom: 20px;
        font-family: Ephesis, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 400;
    }
    img {
    width: 80%;
    }
}

.center_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    h3 {
        margin: 0 0 20px 0;
        font-family: Ephesis, Helvetica, sans-serif;
        color: #4b3b37;
        font-size: 40px;        
        font-weight: 400;
        text-align: center;
    }
    p {
        text-align: center;
    }
}


.fullsize_img {
    width: 100%;
    height: 50vh;
    box-shadow: 5px 5px 20px #00000044;
    object-fit: cover;
    margin-bottom: 30px;
}



@media screen and (min-width: 700px) {
    .center_color_content {
        align-items: initial;
        justify-content: center;
        flex-direction: row;
    }

}
@media screen and (min-width: 950px) {
    .center_content_container {
        width: 60%;
    }
}


@media screen and (min-width: 1200px) {
    .center_content_container {
        width: 55%;
    }

}
@media screen and (min-width: 1450px) {
    .center_content_container {
        width: 40%;
    }
}