
/*----------------------------
    Wedding timeline
----------------------------*/
.wedding_timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    // background-color: #e2d6d37c; //green
    background-color: #f0e7e7; //new rosa
    box-shadow: 5px 5px 40px #00000040;
    h3 {
        margin-bottom: 20px;
        font-family: "Parisienne", Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 400;
    }
    img {
    width: 80%;
    }
}

/*-------------------------------------------
Pink under masthead (practical and wishlist)
-------------------------------------------*/
.wish_list_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(#dbcaca, #f0e7e7);
    color: #4b3b37;
    box-shadow: 5px 5px 15px #00000050;
    padding: 20px 0;
    div {
        text-align: center;
        margin: 0 20px 0 20px;
        width: 80%;
        margin: 30px 0;
    }
    h3 {
        font-family: "Parisienne", Helvetica, sans-serif;
        font-size: 40px;
    }
}



/*------------------------------
    ALL centeret basic texts
------------------------------*/
.center_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    h3 {
        margin: 0 0 20px 0;
        font-family: "Parisienne", Helvetica, sans-serif;
        color: #4b3b37;
        font-size: 40px;        
        font-weight: 400;
        text-align: center;
    }
    p {
        text-align: center;
    }
    b {
        font-weight: 600;
    }
}

.img_text_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    .img_container_left, .img_container_right {
        display: flex;
        width: 100%;
        img {
            width: 80%;
            height:fit-content;
        }
    }
    .img_container_right {
        justify-content: flex-end;
    }
}


.fullsize_img {
    width: 100%;
    height: 50vh;
    box-shadow: 5px 5px 20px #00000044;
    object-fit: cover;
    margin-bottom: 30px;
}

//practical - dresscode img with text
.dress_code_container {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        object-fit: cover;

    }
    div {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dbcaca; //new medium rosa
        padding: 50px 0;
        h2, p {
            width: 80%;
        }
        h2 {
            font-family: "Parisienne", Helvetica, sans-serif;
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 700px) {
    /*-------------------------------------------
    Pink under masthead (practical and wishlist)
    -------------------------------------------*/
    .wish_list_header {
        flex-direction: row;
        padding: 50px 0;
        div {
            margin: 0 20px 0 20px;
            width: 30%;
            max-width: 310px;
        }
    }
}
@media screen and (min-width: 950px) {
    .center_content_container {
        width: 60%;
    }
    .img_text_img {
            flex-direction: row;
        .img_container_left, .img_container_right {
            display: flex;
            width: 20%;
            img {
                width: 100%;
            }
        }
        .img_container_right {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
    //practical - dresscode img with text
    .dress_code_container {
        flex-direction: row;
        img {
            width: 50%;
        }
        div {
            width: 50%;
            justify-content: center;
        }
    }

}


@media screen and (min-width: 1200px) {
    .center_content_container {
        width: 55%;
    }

}
@media screen and (min-width: 1450px) {
    .center_content_container {
        width: 40%;
    }
}