/* ---------------------------
        Wish list navbar
----------------------------*/
//subject finder - container and content
.wish_list_subject_finder_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #dbcaca; //new rosa
    box-shadow: 5px 15px 15px #00000020;
    position: relative;
    transition: all 0.3s ease-out;    /* default colors + transition */
    .wish_list_subject_finder {
        height: 50px;
        display: flex;
        justify-content: center;
        flex: 3;
        min-width: 100px;
        align-items: center;
        transition: .3s;
        &:hover {
            background-color: #cfacac; //blue*
            cursor: pointer;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;     
            text-decoration: none;
            color: #4b3b37;
            font-size: 18px;
        }
    }
}

.wishlist_pink_bg {
    background-color: #f0e7e7;
}

/* scrolling state */
.wish_list_subject_finder_container.fixed-top {
    position: fixed;
    top: 0;
    transition: .3s;
}

/*--------------------------
    wish list container
---------------------------*/
.wish_list_container {  
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;


    //wishlist rows
    .wish_list_subject_header {
        text-align: center;
        font-size: 45px;
        font-family: "Parisienne", Helvetica, sans-serif;
        height: 150px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #4b3b37;
    }
    .wish_list_subject_container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card {
            width: 18%;
            padding: 20px;
            min-width: 135px;
            max-width: 190px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 5px 0 5px;
            box-shadow: 5px 5px 15px #00000050;
            border-radius: 10px;
            .star_container {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                height: 20px;
                img {
                    width: 20px;
                    height: 20px;
                }
                .no-show {
                    display: none;
                }
            }
            h4 {
                padding: 10px 0;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
            }
            p {
                text-align: center;
            }
            img {
                width: 100%;
                object-fit: contain;
                margin-bottom: 5px;
                height: 130px;
            }
            button {
                width: 100%;
                height: 35px;
                border: none;
                background-color: #b5cab4; //green
                border-radius: 10px;
                box-shadow: 5px 5px 15px #00000030;
                transition: .3s;
                margin-top: 15px;
                &:hover {
                    background-color: #86a184; //green
                    box-shadow: 5px 5px 15px #00000070;
                    cursor: pointer;
                    transition: .3s;
                }
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;     
                }
            }
        }
    }
}

            
@media screen and (min-width: 700px) {

}

@media screen and (min-width: 950px) {
    .wish_list_container {
        width: 85%;
    }
    
    .wish_list_container {  
        .wish_list_subject_header {
        }
        .wish_list_subject_container {
            .card {
                margin: 30px 20px 0 20px;
                min-width: 170px;
                max-width: 250px;
                img {
                    height: 180px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}


@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1450px) {

}
