@import "text";
@import "mastheads";
@import "slideshow";
@import "navbar";
@import "wishlist";

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', "Times New Roman", 'Arial', sans-serif;
    font-weight: 200;
}   
 


/*---------------------------
            Footer
---------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdceb4d0;
    height: 150px;
    color: #4b3b37;
    font-size: 30px;
    font-family: Ephesis, Helvetica, sans-serif;
    
}



@media screen and (min-width: 700px) {
    body {
        // background-color: #999eee;
    }
}
@media screen and (min-width: 950px) {
    body {
        // background-color: #f1bbff;
    }
}


@media screen and (min-width: 1200px) {
    body {
        // background-color: #b8fff6;
    }
}
@media screen and (min-width: 1450px) {
    body {
        // background-color: #ffd5d5;
    }
}