@import "text";
@import "mastheads";
@import "slideshow";
@import "navbar";
@import "wishlist";
@import "stavnsbo_slider";

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', "Times New Roman", 'Arial', sans-serif;
    font-weight: 200;
}   
 

/*---------------------------
        Body color
---------------------------*/
.wish_list {
    // background-color: #d1ebc6b6;
    background-color: #dae7bbb6;
}
/*---------------------------
            Footer
---------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #bdceb4d0;
    background-color: #B6C4A0;
    height: 150px;
    color: #4b3b37;
    font-size: 30px;
    font-family: Ephesis, Helvetica, sans-serif;
    
}



@media screen and (min-width: 700px) {
    body {
        // background-color: #999eee;
    }
}
@media screen and (min-width: 950px) {
    body {
        // background-color: #f1bbff;
    }
}


@media screen and (min-width: 1200px) {
    body {
        // background-color: #b8fff6;
    }
}
@media screen and (min-width: 1450px) {
    body {
        // background-color: #ffd5d5;
    }
}