@import "text";
@import "mastheads";
@import "slideshow";
@import "navbar";
@import "wishlist";
@import "stavnsbo_slider";
@import "wedding";

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', "Times New Roman", 'Arial', sans-serif;
    font-weight: 200;
}   
 
html {
  scroll-behavior: smooth;
}

/*---------------------------
        Body color
---------------------------*/
.wish_list, .index_body {
    // background-color: #bfcab4; //green
    background-color: #f0e7e7;
}

/*---------------------------
            Footer
---------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #98a78b; //green
    background-color: #d3b0aa;
    background-image: linear-gradient(#d3b0aa, #aa8b85);

    height: 150px;
    color: #4b3b37;
    font-size: 30px;
    font-family: Ephesis, Helvetica, sans-serif;
    
}


