* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
        color: #fff;
        margin: 20px 5%;
        text-decoration: none;       
    }
    &:hover {

    }
    .active_link {

    }
}

.frontpage_masthead {
    width: 100%;
    height: 95vh;
    background-image: url(../img/Maja_Victor12.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 60%;
    box-shadow: 5px 5px 20px #222222;

    //Vi skal giftes    
    .frontpage_masthead_header {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-top: 5%;
        h1 {
            position: relative;
            color: #fff;
            font-size: 35px;
            font-weight: 400;
            font-family: Ephesis, Helvetica, sans-serif;
        }
        p {
            position: relative;
            color: #fff;
            font-size: 18px;
            font-family: Ephesis, Helvetica, sans-serif;
        }
        
    }
}

.practical_masthead_picture {
    background-image: url(../img/Maja_Victor6.JPG);  
    background-position-x: center;  
}
.wishlist_masthead_picture {
    background-image: url(../img/Maja_Victor7.JPG);  
    background-position-x: 85%;
}
.subpage_masthead {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px #222222;

    //Vi skal giftes    
    .subpage_masthead_header {
        display: flex;
        height: 100%;
        justify-content: center;
        p {
            position: relative;
            top: 30%;
            color: #fff;
            font-size: 55px;
            font-family: Ephesis, Helvetica, sans-serif;
        }
    }
}


/* ---------------------------
        Ønskeliste
----------------------------*/
.wish_list_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    width: 80%;
    margin: 0 auto;
    .wish_list_header {
        font-family: Ephesis, Helvetica, sans-serif;
        font-size: 60px;        
        font-weight: 400;
    }

    .wish_list_subject {
        font-family: Ephesis, Helvetica, sans-serif;
        font-size: 40px;
        margin-top: 25px;
        display: flex;
    }

    .wish_list_item {
        display: flex;
        p {

            i {
                color: #8f8f8f;
                font-weight: 100;
            }
        }
    }
}

/*----------------------------
    text - center - content
----------------------------*/
.center_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    h3 {
        margin: 0 0 20px 0;
        font-family: Ephesis, Helvetica, sans-serif;
        font-size: 40px;        
        font-weight: 400;
        text-align: center;
    }
    p {
        text-align: center;
    }
}

/*---------------------------
        Slideshow index
---------------------------*/
.slideshow_container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 600px;
    .slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        opacity: 0.6;
        transition: all 0.6s ease-in-out;
        img {
            width: 100%;
            object-fit: cover;
            height: 600px;
        }
    }
    .showing {
        z-index: 1;
        transform: none;
        opacity: 1;
    }


}

/*---------------------------
            Footer
---------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B462F;
    height: 150px;
    color: #fff;
    font-size: 35px;
    font-family: Ephesis, Helvetica, sans-serif;
    margin-top: 50px;
}

@media screen and (min-width: 700px) {
    body {
        // background-color: #999eee;
    }
    //Masthead index
    .frontpage_masthead {
        background-position-x: 35%;
        //Vi skal giftes    
        .frontpage_masthead_header {
            padding-top: 15%;
            h1 {
                font-size: 45px;
            }
            p {
                font-size: 22px;
            }
        }       
    }
    //Navbar 700
    .navbar {
        a {
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 950px) {
    body {
        // background-color: #f1bbff;
    }
    //Masthead index
    .frontpage_masthead {
        background-position-x: 20%;

        //Vi skal giftes    
        .frontpage_masthead_header {
            padding-top: 15%;
            align-items: flex-start;
            padding-left: 30%;
            h1 {
                font-size: 55px;
            }
            p {
                font-size: 25px;
            }
        }       
    }
    .practical_masthead_picture {
        background-position-y: 20%;
    }
    /*----------------------------
        text - center - content
    ----------------------------*/
    .center_content_container {
        width: 60%;
    }
    .wish_list_container {
        width: 60%;
    }
}


@media screen and (min-width: 1200px) {
    body {
        // background-color: #b8fff6;
    }
    //Masthead index
    .frontpage_masthead {
        background-position-x: 0%;
        background-position-y: center;
        //Vi skal giftes    
        .frontpage_masthead_header {
            padding-top: 8%;
            h1 {
                font-size: 55px;
            }
            p {
                font-size: 25px;
            }
        }       
    }
    .practical_masthead_picture {
        background-position-y: 60%;
    }
    .wishlist_masthead_picture {
        background-position-x: center;
        background-position-y: 50%;
    }
    /*----------------------------
        text - center - content
    ----------------------------*/
    .center_content_container {
        width: 55%;
    }

}
@media screen and (min-width: 1450px) {
    body {
        // background-color: #ffd5d5;
    }
    //Masthead index
    .frontpage_masthead {
        background-position-x: 0%;
        background-position-y: center;
        //Vi skal giftes    
        .frontpage_masthead_header {
            padding-top: 6%;
            padding-left: 35%;
        }
    }
    .practical_masthead_picture {
        background-position-y: 50%;
    }
    /*----------------------------
        text - center - content
    ----------------------------*/
    .center_content_container {
        width: 40%;
    }
}